{% extends 'header.html' %}

{% block head %}

<title>Restaurant Rating Estimator</title>
{% endblock %}
<h1>
   
    <img src= "/Templates/pictures/restaurant.jpg" height=300 weight=600>
  
</h1>
{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">

        <form action="/predict" method="post">
            <legend>Restaurant Rating Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">Cost of two</label>
                <input class="form-control" type="text" name="cost_for_two" placeholder="Enter the cost of 2 people"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Price Range</label>
                <input class="form-control" type="text" name="Price_Range" placeholder="Enter the cost of 2 people"
                    required />
            </div>


            <div class="mb-3">
                <label class="form-label">Votes</label>
                <input class="form-control" type="text" name="Votes" placeholder="Enter the vote"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label">Has Table booking</label>
                <select class="form-control" type="text" name="Has Table booking" placeholder="Has Table booking"
                required >
                
                <option value="Yes">
                    &lt;Yes
                </option>
                <option value="No">
                    No
                </option>
                

            </select>
               
            </div>
            <div class="mb-3">
                <label class="form-label">Has Online delivery</label>
                <select class="form-control" type="text" name="Has Online delivery" placeholder="Has Online delivery" 
                required >
               
                <option value="Yes">
                    &lt;Yes
                
                </option>
                <option value="No">
                    No
                </option> 
                    

                </select>
            <div class="mb-3">
                 <label class="form-label">Is delivering now </label>
                 <select class="form-control" type="text" name="Is delivering now " placeholder="Is delivering now"
                  required >
                    
                 <option value="Yes">
                        &lt;	Yes
                    
                </option>
                <option value="No">
                        No
                </option> 
            </select>

            </div>
            <div class="mb-3">
                <label class="form-label">Switch to order menu</label>
                 <select class="form-control" type="text" name="Switch to order menu" placeholder="Switch to order menu "
                  required >
                    
                 <option value="Yes">
                        &lt;Yes
                 </option>
                 <option value="No">
                        No
                 </option> 
            </select>

            </div>
           
            <div class="mb-3">
                <label class="form-label"> Review </label>
                <input class="form-control" type="text" name="Review" placeholder="Enter a Review"
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label"> Review Color </label>
                <input class="form-control" type="text" name="Review Color" placeholder="Enter a Review Color"
                    required />
            </div>
            
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Restaurant Rating" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Restaurant Rating
            </div>
            <div class="card-body">
        {% if context['package_data'] is not none %}
        <table class="table table-striped">
            <caption> Restaurant Rating Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['package_data'].items() %}


            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>ProdTaken</td>
                <td>
                    {{ context['ProdTaken'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate the Restaurant rataing</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}